.custom-list {
    list-style: url('nure.jpg') inside;
}

.blocks {
    display: flex;
    background-color: white;
    gap: 11px;
    flex-wrap: wrap;
    width: 200px;
    padding: 5px;
}
.blocks div {
    background-color: #010066;
    width: 55px;
    height: 55px;
   
}
.blocks .block2 {
    height: 110px;
}

